:root {
  --main-color: white;
  --main-bg-color:  #042834;
  --secondary-bg-color: #18404e;
  --menu-font-size: 1.2rem;
  --margin-padding: 1.2rem;
  --header-height: 
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;    
    width: 100%;
    background-color: var(--main-bg-color) ;
    position: fixed;
  }

  .menu {
    display: flex;
    padding-right: calc(var(--margin-padding) * 4);
  }

  .menu ul {
    display: flex;
  }

  .menu ul li {
    display: flex;
    height: 40px;
    align-items: center;
    margin: 0px var(--margin-padding);
    list-style: none;
    border-radius: 0.4rem;
  }

  .menu ul li a {
    padding: var(--margin-padding);
    color: var(--main-color);
    font-size: var(--menu-font-size);
    text-decoration: none;
  }

  .menu ul li:hover {
    background-color: var(--secondary-bg-color);
  }

  header h3 {
    margin: 30px;
  }

  header h3 a {
    color: var(--main-color);
    text-decoration: none;
  }

  .leftMenu {
    display: flex;
    align-items: center;
    padding-right: 80px;
  }

  .rightMenu {
    display: flex;
    align-items: center;
  }

  .rightMenu input {
    height: 30px;
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--main-color);
    margin-right: 8px;
    padding-left: 8px;
    font-size: 18px;
  }

  .btns button {
    height: 40px;
    margin: 0px 10px;
    width: 100px;
    color: var(--main-color);
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }

  .btns button:hover {
    background-color: var(--secondary-bg-color);
  }

  footer {
    width: 100%;
    display: flex;
    background-color: var(--main-bg-color);
    justify-content: space-between;
    align-items: center;
    height: 12.5rem;
    color: var(--main-color);
  }

  .footer1 em {
    margin-left: 8px;
    font-size: 18px;
  }

  .footer1 {
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: var(--main-color);
  }

  .footer2 h4{
    font-size: 24px;
  }
  
  .footer3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 60px;
  }

  .footer3 h3 {
    color: var(--main-color);
  }

  .footerNav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerNav ul li {
    display: flex;
    color: var(--main-color);
    align-items: center;
    margin-bottom: 8px;
  }

  .footerNav ul li a{
    color: var(--main-color);
    list-style: none;
    text-decoration: none;
    margin-left: 3px;
  }

  @media  (max-width: 600px) {
    footer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 500px;
    }
    .footer1 {
      font-size: 0.5rem;
    }
    .footer2 {
      font-size: 0.6rem;
    }
    .footer2 h4 {
      word-wrap: break-word;
    }
    .footer3 {
      font-size: 1rem;
    }
  }
  